@font-face {
  font-family: "SF Pro Display Thin";
  src: url("/fonts/FontsFree-Net-SFProDisplay-Thin.ttf") format('truetype');
}

@font-face {
  font-family: "SF Pro Display Black";
  src: url("/fonts/FontsFree-Net-SFProDisplay-Black.ttf") format('truetype');
  /* font-family: 24; */
}

@font-face {
  font-family: "SF Pro Dislpay Semibold";
  src: url("/fonts/FontsFree-Net-SFProDisplay-Semibold.ttf") format('truetype');
}

#main-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  height: 735px;
  background-color: black;
  background-image: url("/images/HelenHero.svg");
  background-position: center -223px;
  background-size: 202% 203%;
  background-repeat: no-repeat;
}

#main-nav {
  display: flex;
  align-items: flex-end;
  padding: 0px 96px;
}

#site-title {
  display: flex;
  flex-direction: column;
}

#header-title {
  margin-bottom: 4px;
  font-family: "SF Pro Display Thin", sans-serif;
  font-weight: 100;
  font-size: 61px;
  color: #EDE9D0;
  white-space: nowrap;
}

#subheader {
  margin: 1px 0px;
  color: #EDE9D0;
  font-family: "SF Pro Display Black", sans-serif;
  font-size: 21px;
}

#main-nav {
  display: flex;
  justify-content: space-between;
}

#site-nav-links {
  display: flex;
  column-gap: 48px;
}

.navbar-links {
  font-family: "SF Pro Display Semibold", sans-serif;
  color: #EDE9D0;
  text-decoration: none;
  font-size: 20px;
  display: block;
  position: relative;
  padding: 0.2em 0;
}

.navbar-links::after {
  content: "";
  display: block;
  height: 2px;
  width: 0;
  background-color: #EDE9D0;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: width 0.3s ease;
}

.navbar-links:hover::after,
.navbar-links:focus::after {
  width: 100%;
}

#schedule-button {
  cursor: pointer;
  font-family: "SF Pro Display Semibold", sans-serif;
  background-color: #EDE9D0;
  color: #141C1F;
  padding: 11px 16px;
  border-radius: 4px;
  border: none;
  width: 151px;
  height: 39px;
  align-self: flex-end;
  margin-right: 96px;
  margin-bottom: 64px;
  font-size: 12px;
  font-weight: 600;
}

#schedule-button a {
  text-decoration: none;
  color: #141C1F;
}

@media screen and (max-width: 1100px) {
  #header-title {
    font-size: 75px;
    margin-top: 4px;
    text-align: center;
  }

  #subheader {
    text-align: center;
    font-size: 25px;
  }

  .navbar-links {
    font-size: 24px;
  }

  #main-nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
  }

  #schedule-button {
    display: none;
  }
}

@media screen and (max-width: 810px) {
  #main-header {
    background-size: auto;
  }

  #header-title {
    font-size: 60px;
  }

  #subheader {
    font-size: 20px;
  }

  .navbar-links {
    font-size: 18px;
  }
}

@media screen and (max-width: 450px) {
  #main-header {
    background-size: 340%;
    background-position: center -73px;
  }

  #header-title {
    font-size: 44px;
  }

  #subheader {
    white-space: nowrap;
    font-size: 15px;
  }
}
